---
swagger: "2.0"
info:
  version: "3.0.55"
  title: "Mailchimp Marketing API"
  contact:
    name: "Mailchimp API Support"
    email: "apihelp@mailchimp.com"
  x-permalink: "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json"
host: "server.api.mailchimp.com"
basePath: "/3.0"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
- "application/problem+json"
security:
- basicAuth: []
paths:
  /:
    get:
      tags:
      - "root"
      summary: "List api root resources"
      description: "Get links to all other resources available in the API."
      operationId: "getRoot"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/API Root"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_root"
        methodNameCamel: "getRoot"
  /activity-feed/chimp-chatter:
    get:
      tags:
      - "activityFeed"
      summary: "Get latest chimp chatter"
      description: "Return the Chimp Chatter for this account ordered by most recent."
      operationId: "getActivityFeedChimpChatter"
      parameters:
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "ChimpChatter Collection"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_chimp_chatter"
        methodNameCamel: "getChimpChatter"
  /account-exports:
    get:
      tags:
      - "accountExports"
      summary: "List account exports"
      description: "Get a list of account exports for a given account."
      operationId: "getAccountExports"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list_account_exports"
        methodNameCamel: "listAccountExports"
    post:
      tags:
      - "accountExports"
      summary: "Add export"
      description: "Create a new account export in your Mailchimp account."
      operationId: "postAccountExport"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/Create an account export"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_1_exports"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "create_account_export"
        methodNameCamel: "createAccountExport"
  /account-exports/{export_id}:
    get:
      tags:
      - "accountExport"
      summary: "Get account export info"
      description: "Get information about a specific account export."
      operationId: "getAccountExportId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "export_id"
        in: "path"
        description: "The unique id for the account export."
        required: true
        type: "string"
        x-title: "Export ID"
        x-exportParamName: "ExportId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_1_exports"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_account_exports"
        methodNameCamel: "getAccountExports"
  /authorized-apps:
    get:
      tags:
      - "authorizedApps"
      summary: "List authorized apps"
      description: "Get a list of an account's registered, connected applications."
      operationId: "getAuthorizedApps"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_2"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
  /authorized-apps/{app_id}:
    get:
      tags:
      - "authorizedApps"
      summary: "Get authorized app info"
      description: "Get information about a specific authorized application."
      operationId: "getAuthorizedAppsId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "app_id"
        in: "path"
        description: "The unique id for the connected authorized application."
        required: true
        type: "string"
        x-title: "App ID"
        x-exportParamName: "AppId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_2_apps"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get"
        methodNameCamel: "get"
  /automations:
    get:
      tags:
      - "automations"
      summary: "List automations"
      description: "Get a summary of an account's classic automations."
      operationId: "getAutomations"
      parameters:
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "before_create_time"
        in: "query"
        description: "Restrict the response to automations created before this time.\
          \ Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Before Create Time"
        x-exportParamName: "BeforeCreateTime"
        x-optionalDataType: "Time"
      - name: "since_create_time"
        in: "query"
        description: "Restrict the response to automations created after this time.\
          \ Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Since Create Time"
        x-exportParamName: "SinceCreateTime"
        x-optionalDataType: "Time"
      - name: "before_start_time"
        in: "query"
        description: "Restrict the response to automations started before this time.\
          \ Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Before Start Time"
        x-exportParamName: "BeforeStartTime"
        x-optionalDataType: "Time"
      - name: "since_start_time"
        in: "query"
        description: "Restrict the response to automations started after this time.\
          \ Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Since Start Time"
        x-exportParamName: "SinceStartTime"
        x-optionalDataType: "Time"
      - name: "status"
        in: "query"
        description: "Restrict the results to automations with the specified status."
        required: false
        type: "string"
        enum:
        - "save"
        - "paused"
        - "sending"
        x-title: "Status"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_3"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
    post:
      tags:
      - "automations"
      summary: "Add automation"
      description: "Create a new classic automation in your Mailchimp account."
      operationId: "postAutomations"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Automation Workflow_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Automation Workflow"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "create"
        methodNameCamel: "create"
  /automations/{workflow_id}:
    get:
      tags:
      - "automations"
      summary: "Get automation info"
      description: "Get a summary of an individual classic automation workflow's settings\
        \ and content. The `trigger_settings` object returns information for the first\
        \ email in the workflow."
      operationId: "getAutomationsId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Automation Workflow"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get"
        methodNameCamel: "get"
  /automations/{workflow_id}/actions/pause-all-emails:
    post:
      tags:
      - "automations"
      summary: "Pause automation emails"
      description: "Pause all emails in a specific classic automation workflow."
      operationId: "postAutomationsIdActionsPauseAllEmails"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "pause_all_emails"
        methodNameCamel: "pauseAllEmails"
  /automations/{workflow_id}/actions/start-all-emails:
    post:
      tags:
      - "automations"
      summary: "Start automation emails"
      description: "Start all emails in a classic automation workflow."
      operationId: "postAutomationsIdActionsStartAllEmails"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "start_all_emails"
        methodNameCamel: "startAllEmails"
  /automations/{workflow_id}/actions/archive:
    post:
      tags:
      - "automations"
      summary: "Archive automation"
      description: "Archiving will permanently end your automation and keep the report\
        \ data. You’ll be able to replicate your archived automation, but you can’\
        t restart it."
      operationId: "archiveAutomations"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "archive"
        methodNameCamel: "archive"
  /automations/{workflow_id}/emails:
    get:
      tags:
      - "automations"
      summary: "List automated emails"
      description: "Get a summary of the emails in a classic automation workflow."
      operationId: "getAutomationsIdEmails"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Automation Emails"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list_all_workflow_emails"
        methodNameCamel: "listAllWorkflowEmails"
  /automations/{workflow_id}/emails/{workflow_email_id}:
    get:
      tags:
      - "automations"
      summary: "Get workflow email info"
      description: "Get information about an individual classic automation workflow\
        \ email."
      operationId: "getAutomationsIdEmailsId"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Automation Workflow Email"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_workflow_email"
        methodNameCamel: "getWorkflowEmail"
    delete:
      tags:
      - "automations"
      summary: "Delete workflow email"
      description: "Removes an individual classic automation workflow email. Emails\
        \ from certain workflow types, including the Abandoned Cart Email (abandonedCart)\
        \ and Product Retargeting Email (abandonedBrowse) Workflows, cannot be deleted."
      operationId: "deleteAutomationsIdEmailsId"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "delete_workflow_email"
        methodNameCamel: "deleteWorkflowEmail"
    patch:
      tags:
      - "automations"
      summary: "Update workflow email"
      description: "Update settings for a classic automation workflow email.  Only\
        \ works with workflows of type: abandonedBrowse, abandonedCart, emailFollowup,\
        \ or singleWelcome."
      operationId: "patchAutomationEmailWorkflowId"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Update information about a specific workflow email"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Automation Workflow Email"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "update_workflow_email"
        methodNameCamel: "updateWorkflowEmail"
  /automations/{workflow_id}/emails/{workflow_email_id}/queue:
    get:
      tags:
      - "automations"
      summary: "List automated email subscribers"
      description: "Get information about a classic automation email queue."
      operationId: "getAutomationsIdEmailsIdQueue"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_4"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_workflow_email_subscriber_queue"
        methodNameCamel: "getWorkflowEmailSubscriberQueue"
    post:
      tags:
      - "automations"
      summary: "Add subscriber to workflow email"
      description: "Manually add a subscriber to a workflow, bypassing the default\
        \ trigger settings. You can also use this endpoint to trigger a series of\
        \ automated emails in an API 3.0 workflow type."
      operationId: "postAutomationsIdEmailsIdQueue"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Subscriber in Automation Queue_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subscriber in Automation Queue_2"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "add_workflow_email_subscriber"
        methodNameCamel: "addWorkflowEmailSubscriber"
  /automations/{workflow_id}/emails/{workflow_email_id}/queue/{subscriber_hash}:
    get:
      tags:
      - "automations"
      summary: "Get automated email subscriber"
      description: "Get information about a specific subscriber in a classic automation\
        \ email queue."
      operationId: "getAutomationsIdEmailsIdQueueId"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      - name: "subscriber_hash"
        in: "path"
        description: "The MD5 hash of the lowercase version of the list member's email\
          \ address."
        required: true
        type: "string"
        x-title: "Subscriber Hash"
        x-exportParamName: "SubscriberHash"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subscriber in Automation Queue_2"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_workflow_email_subscriber"
        methodNameCamel: "getWorkflowEmailSubscriber"
  /automations/{workflow_id}/emails/{workflow_email_id}/actions/pause:
    post:
      tags:
      - "automations"
      summary: "Pause automated email"
      description: "Pause an automated email."
      operationId: "postAutomationsIdEmailsIdActionsPause"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "pause_workflow_email"
        methodNameCamel: "pauseWorkflowEmail"
  /automations/{workflow_id}/emails/{workflow_email_id}/actions/start:
    post:
      tags:
      - "automations"
      summary: "Start automated email"
      description: "Start an automated email."
      operationId: "postAutomationsIdEmailsIdActionsStart"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "workflow_email_id"
        in: "path"
        description: "The unique id for the Automation workflow email."
        required: true
        type: "string"
        x-exportParamName: "WorkflowEmailId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "start_workflow_email"
        methodNameCamel: "startWorkflowEmail"
  /automations/{workflow_id}/removed-subscribers:
    get:
      tags:
      - "automations"
      summary: "List subscribers removed from workflow"
      description: "Get information about subscribers who were removed from a classic\
        \ automation workflow."
      operationId: "getAutomationsIdRemovedSubscribers"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Removed Subscribers"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list_workflow_email_subscribers_removed"
        methodNameCamel: "listWorkflowEmailSubscribersRemoved"
    post:
      tags:
      - "automations"
      summary: "Remove subscriber from workflow"
      description: "Remove a subscriber from a specific classic automation workflow.\
        \ You can remove a subscriber at any point in an automation workflow, regardless\
        \ of how many emails they've been sent from that workflow. Once they're removed,\
        \ they can never be added back to the same workflow."
      operationId: "postAutomationsIdRemovedSubscribers"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Subscriber in Automation Queue_3"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subscriber Removed from Automation Workflow"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "remove_workflow_email_subscriber"
        methodNameCamel: "removeWorkflowEmailSubscriber"
  /automations/{workflow_id}/removed-subscribers/{subscriber_hash}:
    get:
      tags:
      - "automations"
      summary: "Get subscriber removed from workflow"
      description: "Get information about a specific subscriber who was removed from\
        \ a classic automation workflow."
      operationId: "getAutomationsIdRemovedSubscribersId"
      parameters:
      - name: "workflow_id"
        in: "path"
        description: "The unique id for the Automation workflow."
        required: true
        type: "string"
        x-exportParamName: "WorkflowId"
      - name: "subscriber_hash"
        in: "path"
        description: "The MD5 hash of the lowercase version of the list member's email\
          \ address."
        required: true
        type: "string"
        x-title: "Subscriber Hash"
        x-exportParamName: "SubscriberHash"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subscriber Removed from Automation Workflow"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_removed_workflow_email_subscriber"
        methodNameCamel: "getRemovedWorkflowEmailSubscriber"
  /batches:
    get:
      tags:
      - "batches"
      summary: "List batch requests"
      description: "Get a summary of batch requests that have been made."
      operationId: "getBatches"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Batch Operations"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
    post:
      tags:
      - "batches"
      summary: "Start batch operation"
      description: "Begin processing a batch operations request."
      operationId: "postBatches"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Batch"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "start"
        methodNameCamel: "start"
  /batches/{batch_id}:
    get:
      tags:
      - "batches"
      summary: "Get batch operation status"
      description: "Get the status of a batch request."
      operationId: "getBatchesId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "batch_id"
        in: "path"
        description: "The unique id for the batch operation."
        required: true
        type: "string"
        x-exportParamName: "BatchId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Batch"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "status"
        methodNameCamel: "status"
    delete:
      tags:
      - "batches"
      summary: "Delete batch request"
      description: "Stops a batch request from running. Since only one batch request\
        \ is run at a time, this can be used to cancel a long running request. The\
        \ results of any completed operations will not be available after this call."
      operationId: "deleteBatchesId"
      parameters:
      - name: "batch_id"
        in: "path"
        description: "The unique id for the batch operation."
        required: true
        type: "string"
        x-exportParamName: "BatchId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "delete_request"
        methodNameCamel: "deleteRequest"
  /batch-webhooks:
    get:
      tags:
      - "batchWebhooks"
      summary: "List batch webhooks"
      description: "Get all webhooks that have been configured for batches."
      operationId: "getBatchWebhooks"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Batch Webhooks"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
    post:
      tags:
      - "batchWebhooks"
      summary: "Add batch webhook"
      description: "Configure a webhook that will fire whenever any batch request\
        \ completes processing.  You may only have a maximum of 20 batch webhooks."
      operationId: "postBatchWebhooks"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Batch Webhook_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Batch Webhook"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "create"
        methodNameCamel: "create"
  /batch-webhooks/{batch_webhook_id}:
    get:
      tags:
      - "batchWebhooks"
      summary: "Get batch webhook info"
      description: "Get information about a specific batch webhook."
      operationId: "getBatchWebhook"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "batch_webhook_id"
        in: "path"
        description: "The unique id for the batch webhook."
        required: true
        type: "string"
        x-exportParamName: "BatchWebhookId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Batch Webhook"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get"
        methodNameCamel: "get"
    delete:
      tags:
      - "batchWebhooks"
      summary: "Delete batch webhook"
      description: "Remove a batch webhook. Webhooks will no longer be sent to the\
        \ given URL."
      operationId: "deleteBatchWebhookId"
      parameters:
      - name: "batch_webhook_id"
        in: "path"
        description: "The unique id for the batch webhook."
        required: true
        type: "string"
        x-exportParamName: "BatchWebhookId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "remove"
        methodNameCamel: "remove"
    patch:
      tags:
      - "batchWebhooks"
      summary: "Update batch webhook"
      description: "Update a webhook that will fire whenever any batch request completes\
        \ processing."
      operationId: "patchBatchWebhooks"
      parameters:
      - name: "batch_webhook_id"
        in: "path"
        description: "The unique id for the batch webhook."
        required: true
        type: "string"
        x-exportParamName: "BatchWebhookId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Batch Webhook_2"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Batch Webhook"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "update"
        methodNameCamel: "update"
  /template-folders:
    get:
      tags:
      - "templateFolders"
      summary: "List template folders"
      description: "Get all folders used to organize templates."
      operationId: "getTemplateFolders"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Template Folders"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
    post:
      tags:
      - "templateFolders"
      summary: "Add template folder"
      description: "Create a new template folder."
      operationId: "postTemplateFolders"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Template Folder_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Template Folder"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "create"
        methodNameCamel: "create"
  /template-folders/{folder_id}:
    get:
      tags:
      - "templateFolders"
      summary: "Get template folder"
      description: "Get information about a specific folder used to organize templates."
      operationId: "getTemplateFoldersId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "folder_id"
        in: "path"
        description: "The unique id for the template folder."
        required: true
        type: "string"
        x-exportParamName: "FolderId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Template Folder"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get"
        methodNameCamel: "get"
    delete:
      tags:
      - "templateFolders"
      summary: "Delete template folder"
      description: "Delete a specific template folder, and mark all the templates\
        \ in the folder as 'unfiled'."
      operationId: "deleteTemplateFoldersId"
      parameters:
      - name: "folder_id"
        in: "path"
        description: "The unique id for the template folder."
        required: true
        type: "string"
        x-exportParamName: "FolderId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "remove"
        methodNameCamel: "remove"
    patch:
      tags:
      - "templateFolders"
      summary: "Update template folder"
      description: "Update a specific folder used to organize templates."
      operationId: "patchTemplateFoldersId"
      parameters:
      - name: "folder_id"
        in: "path"
        description: "The unique id for the template folder."
        required: true
        type: "string"
        x-exportParamName: "FolderId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Template Folder_2"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Template Folder"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "update"
        methodNameCamel: "update"
  /campaign-folders:
    get:
      tags:
      - "campaignFolders"
      summary: "List campaign folders"
      description: "Get all folders used to organize campaigns."
      operationId: "getCampaignFolders"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Folders"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
    post:
      tags:
      - "campaignFolders"
      summary: "Add campaign folder"
      description: "Create a new campaign folder."
      operationId: "postCampaignFolders"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Campaign Folder_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Folder"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "create"
        methodNameCamel: "create"
  /campaign-folders/{folder_id}:
    get:
      tags:
      - "campaignFolders"
      summary: "Get campaign folder"
      description: "Get information about a specific folder used to organize campaigns."
      operationId: "getCampaignFoldersId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "folder_id"
        in: "path"
        description: "The unique id for the campaign folder."
        required: true
        type: "string"
        x-exportParamName: "FolderId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Folder"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get"
        methodNameCamel: "get"
    delete:
      tags:
      - "campaignFolders"
      summary: "Delete campaign folder"
      description: "Delete a specific campaign folder, and mark all the campaigns\
        \ in the folder as 'unfiled'."
      operationId: "deleteCampaignFoldersId"
      parameters:
      - name: "folder_id"
        in: "path"
        description: "The unique id for the campaign folder."
        required: true
        type: "string"
        x-exportParamName: "FolderId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "remove"
        methodNameCamel: "remove"
    patch:
      tags:
      - "campaignFolders"
      summary: "Update campaign folder"
      description: "Update a specific folder used to organize campaigns."
      operationId: "patchCampaignFoldersId"
      parameters:
      - name: "folder_id"
        in: "path"
        description: "The unique id for the campaign folder."
        required: true
        type: "string"
        x-exportParamName: "FolderId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Campaign Folder_2"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Folder"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "update"
        methodNameCamel: "update"
  /campaigns:
    get:
      tags:
      - "campaigns"
      summary: "List campaigns"
      description: "Get all campaigns in an account."
      operationId: "getCampaigns"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "type"
        in: "query"
        description: "The campaign type."
        required: false
        type: "string"
        enum:
        - "regular"
        - "plaintext"
        - "absplit"
        - "rss"
        - "variate"
        x-title: "Campaign Type"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "status"
        in: "query"
        description: "The status of the campaign."
        required: false
        type: "string"
        enum:
        - "save"
        - "paused"
        - "schedule"
        - "sending"
        - "sent"
        x-title: "Status"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      - name: "before_send_time"
        in: "query"
        description: "Restrict the response to campaigns sent before the set time.\
          \ Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Before Send Time"
        x-exportParamName: "BeforeSendTime"
        x-optionalDataType: "Time"
      - name: "since_send_time"
        in: "query"
        description: "Restrict the response to campaigns sent after the set time.\
          \ Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Since Send Time"
        x-exportParamName: "SinceSendTime"
        x-optionalDataType: "Time"
      - name: "before_create_time"
        in: "query"
        description: "Restrict the response to campaigns created before the set time.\
          \ Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Before Create Time"
        x-exportParamName: "BeforeCreateTime"
        x-optionalDataType: "Time"
      - name: "since_create_time"
        in: "query"
        description: "Restrict the response to campaigns created after the set time.\
          \ Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00."
        required: false
        type: "string"
        format: "date-time"
        x-title: "Since Create Time"
        x-exportParamName: "SinceCreateTime"
        x-optionalDataType: "Time"
      - name: "list_id"
        in: "query"
        description: "The unique id for the list."
        required: false
        type: "string"
        x-title: "List ID"
        x-exportParamName: "ListId"
        x-optionalDataType: "String"
      - name: "folder_id"
        in: "query"
        description: "The unique folder id."
        required: false
        type: "string"
        x-title: "Folder ID"
        x-exportParamName: "FolderId"
        x-optionalDataType: "String"
      - name: "member_id"
        in: "query"
        description: "Retrieve campaigns sent to a particular list member. Member\
          \ ID is The MD5 hash of the lowercase version of the list member’s email\
          \ address."
        required: false
        type: "string"
        x-title: "Member ID"
        x-exportParamName: "MemberId"
        x-optionalDataType: "String"
      - name: "sort_field"
        in: "query"
        description: "Returns files sorted by the specified field."
        required: false
        type: "string"
        enum:
        - "create_time"
        - "send_time"
        x-title: "Sort By Field"
        x-exportParamName: "SortField"
        x-optionalDataType: "String"
      - name: "sort_dir"
        in: "query"
        description: "Determines the order direction for sorted results."
        required: false
        type: "string"
        enum:
        - "ASC"
        - "DESC"
        x-title: "Sort Direction"
        x-exportParamName: "SortDir"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_5"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
    post:
      tags:
      - "campaigns"
      summary: "Add campaign"
      description: "Create a new Mailchimp campaign."
      operationId: "postCampaigns"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Campaign_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "create"
        methodNameCamel: "create"
  /campaigns/{campaign_id}:
    get:
      tags:
      - "campaigns"
      summary: "Get campaign info"
      description: "Get information about a specific campaign."
      operationId: "getCampaignsId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get"
        methodNameCamel: "get"
    delete:
      tags:
      - "campaigns"
      summary: "Delete campaign"
      description: "Remove a campaign from your Mailchimp account."
      operationId: "deleteCampaignsId"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "remove"
        methodNameCamel: "remove"
    patch:
      tags:
      - "campaigns"
      summary: "Update campaign settings"
      description: "Update some or all of the settings for a specific campaign."
      operationId: "patchCampaignsId"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Campaign_2"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "update"
        methodNameCamel: "update"
  /campaigns/{campaign_id}/actions/cancel-send:
    post:
      tags:
      - "campaigns"
      summary: "Cancel campaign"
      description: "Cancel a Regular or Plain-Text Campaign after you send, before\
        \ all of your recipients receive it. This feature is included with Mailchimp\
        \ Pro."
      operationId: "postCampaignsIdActionsCancelSend"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-pro-required: true
      x-custom-config:
        methodNameSnake: "cancel_send"
        methodNameCamel: "cancelSend"
  /campaigns/{campaign_id}/actions/replicate:
    post:
      tags:
      - "campaigns"
      summary: "Replicate campaign"
      description: "Replicate a campaign in saved or send status."
      operationId: "postCampaignsIdActionsReplicate"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign_3"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "replicate"
        methodNameCamel: "replicate"
  /campaigns/{campaign_id}/actions/send:
    post:
      tags:
      - "campaigns"
      summary: "Send campaign"
      description: "Send a Mailchimp campaign. For RSS Campaigns, the campaign will\
        \ send according to its schedule. All other campaigns will send immediately."
      operationId: "postCampaignsIdActionsSend"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "send"
        methodNameCamel: "send"
  /campaigns/{campaign_id}/actions/schedule:
    post:
      tags:
      - "campaigns"
      summary: "Schedule campaign"
      description: "Schedule a campaign for delivery. If you're using Multivariate\
        \ Campaigns to test send times or sending RSS Campaigns, use the send action\
        \ instead."
      operationId: "postCampaignsIdActionsSchedule"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "schedule"
        methodNameCamel: "schedule"
  /campaigns/{campaign_id}/actions/unschedule:
    post:
      tags:
      - "campaigns"
      summary: "Unschedule campaign"
      description: "Unschedule a scheduled campaign that hasn't started sending."
      operationId: "postCampaignsIdActionsUnschedule"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "unschedule"
        methodNameCamel: "unschedule"
  /campaigns/{campaign_id}/actions/test:
    post:
      tags:
      - "campaigns"
      summary: "Send test email"
      description: "Send a test email."
      operationId: "postCampaignsIdActionsTest"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_2"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "send_test_email"
        methodNameCamel: "sendTestEmail"
  /campaigns/{campaign_id}/actions/pause:
    post:
      tags:
      - "campaigns"
      summary: "Pause rss campaign"
      description: "Pause an RSS-Driven campaign."
      operationId: "postCampaignsIdActionsPause"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "pause"
        methodNameCamel: "pause"
  /campaigns/{campaign_id}/actions/resume:
    post:
      tags:
      - "campaigns"
      summary: "Resume rss campaign"
      description: "Resume an RSS-Driven campaign."
      operationId: "postCampaignsIdActionsResume"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "resume"
        methodNameCamel: "resume"
  /campaigns/{campaign_id}/actions/create-resend:
    post:
      tags:
      - "campaigns"
      summary: "Resend campaign"
      description: "Creates a Resend to Non-Openers version of this campaign. We will\
        \ also check if this campaign meets the criteria for Resend to Non-Openers\
        \ campaigns."
      operationId: "postCampaignsIdActionsCreateResend"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign_3"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-pro-required: true
      x-custom-config:
        methodNameSnake: "create_resend"
        methodNameCamel: "createResend"
  /campaigns/{campaign_id}/content:
    get:
      tags:
      - "campaigns"
      summary: "Get campaign content"
      description: "Get the the HTML and plain-text content for a campaign."
      operationId: "getCampaignsIdContent"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Content"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_content"
        methodNameCamel: "getContent"
    put:
      tags:
      - "campaigns"
      summary: "Set campaign content"
      description: "Set the content for a campaign."
      operationId: "putCampaignsIdContent"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Campaign Content_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Content"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "set_content"
        methodNameCamel: "setContent"
  /campaigns/{campaign_id}/feedback:
    get:
      tags:
      - "campaigns"
      summary: "List campaign feedback"
      description: "Get team feedback while you're working together on a Mailchimp\
        \ campaign."
      operationId: "getCampaignsIdFeedback"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Reports"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_feedback"
        methodNameCamel: "getFeedback"
    post:
      tags:
      - "campaigns"
      summary: "Add campaign feedback"
      description: "Add feedback on a specific campaign."
      operationId: "postCampaignsIdFeedback"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Campaign Feedback_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Feedback_2"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "add_feedback"
        methodNameCamel: "addFeedback"
  /campaigns/{campaign_id}/feedback/{feedback_id}:
    get:
      tags:
      - "campaigns"
      summary: "Get campaign feedback message"
      description: "Get a specific feedback message from a campaign."
      operationId: "getCampaignsIdFeedbackId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - name: "feedback_id"
        in: "path"
        description: "The unique id for the feedback message."
        required: true
        type: "string"
        x-title: "Feedback ID"
        x-exportParamName: "FeedbackId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Feedback_2"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_feedback_message"
        methodNameCamel: "getFeedbackMessage"
    delete:
      tags:
      - "campaigns"
      summary: "Delete campaign feedback message"
      description: "Remove a specific feedback message for a campaign."
      operationId: "deleteCampaignsIdFeedbackId"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - name: "feedback_id"
        in: "path"
        description: "The unique id for the feedback message."
        required: true
        type: "string"
        x-title: "Feedback ID"
        x-exportParamName: "FeedbackId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "delete_feedback_message"
        methodNameCamel: "deleteFeedbackMessage"
    patch:
      tags:
      - "campaigns"
      summary: "Update campaign feedback message"
      description: "Update a specific feedback message for a campaign."
      operationId: "patchCampaignsIdFeedbackId"
      parameters:
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      - name: "feedback_id"
        in: "path"
        description: "The unique id for the feedback message."
        required: true
        type: "string"
        x-title: "Feedback ID"
        x-exportParamName: "FeedbackId"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Campaign Feedback_3"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Campaign Feedback_2"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "update_feedback_message"
        methodNameCamel: "updateFeedbackMessage"
  /campaigns/{campaign_id}/send-checklist:
    get:
      tags:
      - "campaigns"
      summary: "Get campaign send checklist"
      description: "Review the send checklist for a campaign, and resolve any issues\
        \ before sending."
      operationId: "getCampaignsIdSendChecklist"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "campaign_id"
        in: "path"
        description: "The unique id for the campaign."
        required: true
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Send Checklist"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get_send_checklist"
        methodNameCamel: "getSendChecklist"
  /connected-sites:
    get:
      tags:
      - "connectedSites"
      summary: "List connected sites"
      description: "Get all connected sites in an account."
      operationId: "getConnectedSites"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Connected Sites"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
    post:
      tags:
      - "connectedSites"
      summary: "Add connected site"
      description: "Create a new Mailchimp connected site."
      operationId: "postConnectedSites"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Connected Site_1"
        x-exportParamName: "Body"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Connected Site"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "create"
        methodNameCamel: "create"
  /connected-sites/{connected_site_id}:
    get:
      tags:
      - "connectedSites"
      summary: "Get connected site"
      description: "Get information about a specific connected site."
      operationId: "getConnectedSitesId"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "connected_site_id"
        in: "path"
        description: "The unique identifier for the site."
        required: true
        type: "string"
        x-title: "Connected Site Foreign ID"
        x-exportParamName: "ConnectedSiteId"
      deprecated: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Connected Site"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "get"
        methodNameCamel: "get"
    delete:
      tags:
      - "connectedSites"
      summary: "Delete connected site"
      description: "Remove a connected site from your Mailchimp account."
      operationId: "deleteConnectedSitesId"
      parameters:
      - name: "connected_site_id"
        in: "path"
        description: "The unique identifier for the site."
        required: true
        type: "string"
        x-title: "Connected Site Foreign ID"
        x-exportParamName: "ConnectedSiteId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "remove"
        methodNameCamel: "remove"
  /connected-sites/{connected_site_id}/actions/verify-script-installation:
    post:
      tags:
      - "connectedSites"
      summary: "Verify connected site script"
      description: "Verify that the connected sites script has been installed, either\
        \ via the script URL or fragment."
      operationId: "postConnectedSitesIdActionsVerifyScriptInstallation"
      parameters:
      - name: "connected_site_id"
        in: "path"
        description: "The unique identifier for the site."
        required: true
        type: "string"
        x-title: "Connected Site Foreign ID"
        x-exportParamName: "ConnectedSiteId"
      deprecated: false
      responses:
        "204":
          description: "Empty Response"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-pro-required: true
      x-custom-config:
        methodNameSnake: "verify_script_installation"
        methodNameCamel: "verifyScriptInstallation"
  /conversations:
    get:
      tags:
      - "conversations"
      summary: "List conversations"
      description: "Get a list of conversations for the account. Conversations has\
        \ been deprecated in favor of Inbox and these endpoints don't include Inbox\
        \ data. Past Conversations are still available via this endpoint, but new\
        \ campaign replies and other Inbox messages aren’t available using this endpoint."
      operationId: "getConversations"
      parameters:
      - name: "fields"
        in: "query"
        description: "A comma-separated list of fields to return. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Fields"
        x-exportParamName: "Fields"
      - name: "exclude_fields"
        in: "query"
        description: "A comma-separated list of fields to exclude. Reference parameters\
          \ of sub-objects with dot notation."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-title: "Exclude Fields"
        x-exportParamName: "ExcludeFields"
      - name: "count"
        in: "query"
        description: "The number of records to return. Default value is 10. Maximum\
          \ value is 1000"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        x-title: "Count"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),\
          \ this it the number of records from a collection to skip. Default value\
          \ is 0."
        required: false
        type: "integer"
        default: 0
        x-title: "Offset"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "has_unread_messages"
        in: "query"
        description: "Whether the conversation has any unread messages."
        required: false
        type: "string"
        enum:
        - "true"
        - "false"
        x-title: "Has Unread Messages"
        x-exportParamName: "HasUnreadMessages"
        x-optionalDataType: "String"
      - name: "list_id"
        in: "query"
        description: "The unique id for the list."
        required: false
        type: "string"
        x-title: "List ID"
        x-exportParamName: "ListId"
        x-optionalDataType: "String"
      - name: "campaign_id"
        in: "query"
        description: "The unique id for the campaign."
        required: false
        type: "string"
        x-title: "Campaign ID"
        x-exportParamName: "CampaignId"
        x-optionalDataType: "String"
      deprecated: true
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Tracked Conversations"
        default:
          description: "An error generated by the Mailchimp API."
          schema:
            $ref: "#/definitions/Problem Detail Document"
      x-custom-config:
        methodNameSnake: "list"
        methodNameCamel: "list"
  /conversations/{conversation_id}:
    get:
      tags:
      - "conversations"
      summary: "Get conversation"
      description: "Get details about an individual conversation. Conversations has\
        \ been deprecated in favor of Inbox and these endpoints don't include Inbox\
        \ data. Past Conversations are still available via this endpoint, but new\
        \ campaign replies and other Inbox messages aren’t available using this endpoint."
      operationId: "getConversationsId"
      parameters:
      - name: "fields"
        in: "query"
[...]
